@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
body {
  min-height: 100% !important;
}
.form1 {
  height: 100vh
}
.btn-outline-secondary {
  border-color: #C5C5C5
}
.btn-outline-secondary:hover {
  background-color: #F2F2F2;
  border-color: #C5C5C5
}
.h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.h2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.text {
  background-color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.download {
  background-color: #ffffff;
}
.download .mbr-text {
  color: #767676;
}
.download h4 {
  text-align: center;
}
.download p {
  text-align: center;
}
.download .card .card-img span {
  font-size: 40px;
  padding: 1.5rem;
  background: #01cbd2;
  border: 2px solid #01cbd2;
  color: #ffffff;
  border-radius: 50%;
  transition: all .3s;
}
.download .card:hover .card-img span {
  background: none;
  color: #01cbd2;
}
.subtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 0;
  text-align: center;
  color: #767676;
}
.subtext > .mbr-iconfont {
  font-size: 2.24rem;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 60%;
}
.store-google {
  width: 15rem !important;
}
.store-apple {
  width: 13rem !important;
}

@media screen and (max-width: 900px) and (max-height: 1300px){
  .store-google {
    width: 60% !important;
  }
  .store-apple {
    width: 53% !important;
  }
  .text {
    margin-bottom: 5rem;
  }
  .image {
    height: 50%;
    margin-bottom: 1rem;
  }
  .subtext {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) and (max-height: 1100px){
  .text {
    margin-bottom: 5rem;
  }
  .image {
    height: 50%;
  }
  .subtext {
    font-size: 1.5rem;
  }
  .store-google {
    width: 40% !important;
  }
  .store-apple {
    width: 40% !important;
  }
}

@media screen and (max-height: 900px) {
  .text {
    margin: 0;
  }
  .image {
    height: 50%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
  .download {
    margin-top: 2rem;
  }
  .subtext {
    font-size: 1.2rem;
  }
  .store-google {
    width: 50% !important;
  }
  .store-apple {
    width: 50% !important;
  }
}

@media screen and (max-height: 750px) {
  .download {
    margin-top: 0;
  }
  .image{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .subtext {
    font-size: 1.1rem;
  }
}

@media screen and (max-height: 600px) {
  .image {
    height: 8.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .download {
    margin: 0;
  }
  .subtext {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .store-google {
    width: 50% !important;
  }
  .store-apple {
    width: 50% !important;
  }
}
